body {
  margin:0;
  font-family:'Segoe UI';
  background:#07121C;
  color:white;
}

header {
  display:flex;
  justify-content:space-between;
  padding:20px;
  background:linear-gradient(90deg,#0A1F44,#0B3D2E);
}

nav a {
  color:white;
  margin:10px;
  text-decoration:none;
}

.hero {
  height:90vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card3d {
  background:linear-gradient(#0A1F44,#0B3D2E);
  padding:40px;
  border-radius:20px;
  animation:float 4s infinite;
}

@keyframes float {
  50% {transform:translateY(-20px);}
}

.container {
  display:flex;
  gap:20px;
  padding:20px;
  flex-wrap:wrap;
}

.card {
  background:#0B3D2E;
  padding:20px;
  border-radius:15px;
  width:250px;
}
